@import "tailwindcss";

@theme {
  --color-prussian: #00072d;
  --color-navy: #001c55;
  --color-imperial: #0a2472;
  --color-ocean: #0e6ba8;
  --color-frost: #a6e1fa;
}

body {
  min-height: 100vh;
  background-color: #00072d;
  color: #a6e1fa;
}