@import "tailwindcss";

@theme {
  --animate-gradient-x: gradient-x 15s ease infinite;

  @keyframes gradient-x {

    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

/* reset propre */
html,
body,
#root {
  height: 100%;
}

body {
  background: #050B1C;
  color: white;
}